/* custom fonts */
@font-face {
  font-family: averta;
  src: url(./fonts/AvertaCY-Regular.ttf);
}

/* variables */
:root {
  --header-color: #0e0e6e;
  --bg-light-blue: #cfe2ff;
  --bg-light-green: #1ce8c7;
  --bg-dark-gray: #f2f2f2;
}

/* ======================================== */
/* ========custom classes================== */
/* ======================================== */

.payment-modal * {
  font-family: averta;
}
.payment-modal .modal-content {
  height: clamp(500px, 90vh, 640px);
  max-width: 640px;
  margin-inline: auto;
}

.payment-modal-header-color {
  color: var(--header-color);
}
.btn-secondary-color {
  background-color: var(--bg-light-green);
}
/* =================country selection section================= */
.country-search-box {
  width: 90%;
}
.countries-container {
  height: calc(clamp(500px, 90vh, 640px) - 170px);
}
.payment-modal-country:hover {
  background-color: var(--bg-dark-gray);
  cursor: pointer;
}
.container {
  width: 95%;
}

.input_con {
  border-color: rgba(0, 0, 0, 0.1);
  height: 40px;
}

.custom_color {
  background-color: rgba(207, 226, 255, 0.3);
}

/* ======================================== */
/* ========for small device=============== */
/* ======================================== */
@media screen and (max-width: 580px) {
  .payment-modal .modal-content {
    height: 100vh;
  }

  .countries-container {
    height: calc(100vh - 170px);
  }
}
