/* custom fonts */
@font-face {
  font-family: averta;
  src: url(./fonts/AvertaCY-Regular.ttf);
}

/* variables */
:root {
  --header-color: #0e0e6e;
  --bg-light-blue: #cfe2ff;
  --bg-light-green: #1ce8c7;
}

/* custom classes */
.payment-modal * {
  font-family: averta;
}

.payment-method-header-color {
  color: var(--header-color);
}

.payment-method-secondary-color {
  background: #1ce8c7;
}

.btn-secondary-color {
  background-color: var(--bg-light-green);
}

/* ===search box===== */
.search_box {
  width: 90%;
}

.container {
  width: 95%;
}

.input_con {
  border-color: rgba(0, 0, 0, 0.1);
  height: 40px;
}

.custom_color {
  background-color: rgba(207, 226, 255, 0.30);
  ;
}

.custom_color_for_worning {
  background-color: rgba(255, 243, 205, 0.30);
  ;
}

.payment_method {
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  .small_screen_resize_button {
    position: absolute;
    bottom: 20px;
    margin-top: 200px;
    width: 90%;
  }
}