/* ======================================== */
/* ========payment modal custom css======== */
/* ======================================== */
/* custom fonts */
@font-face {
  font-family: averta;
  src: url(./fonts/AvertaCY-Regular.ttf);
}

/* variables */
:root {
  --title-color: #0e0e6e;
  --text-dark-gray: #00000080;
  --bg-light-blue: #cfe2ff;
  --bg-light-green: #1ce8c7;
  --bg-light-gray: #f2f2f2;
  --border-light-navy: #0d6efd4d;
}

/* ======================================== */
/* ========custom classes================== */
/* ======================================== */
/* ------payment modal main classes -------*/
.payment-modal * {
  font-family: averta;
}

.payment-modal .modal-content {
  height: clamp(500px, 90vh, 640px);
  max-width: 640px;
  margin-inline: auto;
}

/*------repeatedly used classes-----*/
.payment-modal-title-color {
  color: var(--title-color);
}
.payment-modal-bg-light-green {
  background: var(--bg-light-green);
}
.payment-modal-text-dark-gray {
  color: var(--text-dark-gray);
}
.payment-modal-font-xs {
  font-size: 12px;
}
.payment-modal input[type="radio"]:checked {
  background-color: #309e3a;
  border-color: #309e3a;
}

/* pages designed custom css========= */
/* ------payment modal payment input page----- */
.payment-amount-input {
  border-color: var(--border-light-navy) !important;
}
.payment-amount-input:focus {
  outline: none;
}
.currencies-dropdown-element {
  min-width: clamp(100px,100%,150px) !important;
  height: 30vh;
  overflow: auto;
}
/* =================country selection section================= */
.country-search-box {
  width: 90%;
}

.payment-modal-countries-container {
  height: calc(clamp(500px, 90vh, 640px) - 170px);
}

.payment-modal-country:hover {
  background-color: var(--bg-light-gray);
  cursor: pointer;
}

.input_con {
  border-color: rgba(0, 0, 0, 0.1);
  height: 40px;
}
.payment-method-modal-alerts {
  margin-top: 15px;
  background: rgba(207, 226, 255, 0.3);
  border: 1px solid #cfe2ff;
}
.custom_color {
  background-color: rgba(207, 226, 255, 0.3);
}
/*========== payment confirmation section========== */
.amount-tooltip {
  width: 30%;
  right: -35%;
  top: 90px;
  border-top: 9px solid orange;
}
.amount-tooltip::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  rotate: 45deg;
  z-index: -1;
}
/* ======================================== */
/* ========tab / medium device=============== */
/* ======================================== */
@media screen and (max-width: 850px) {
  /* confirmation section  */
  .amount-tooltip {
    top: unset;
    left: 5%;
    width: 90%;
    bottom: 5%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid orange;
    font-size: small;
  }
  .amount-tooltip::after {
    display: none;
  }
}
/* ======================================== */
/* ========small device=============== */
/* ======================================== */
@media screen and (max-width: 580px) {
  .payment-modal .modal-content {
    height: 100vh;
  }

  .payment-modal-countries-container {
    height: calc(100vh - 170px);
  }
}
/* =====scrollbar customization===== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #dbd8d8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
