/* custom fonts */
@font-face {
  font-family: averta;
  src: url(./fonts/AvertaCY-Regular.ttf);
}

/* variables */
:root {
  --header-color: #0e0e6e;
  --bg-light-blue: #cfe2ff;
  --bg-light-green: #1ce8c7;
}

/* custom classes */
.payment-modal * {
  font-family: averta;
}

.payment-method-header-color {
  color: var(--header-color);
}

.btn-secondary-color {
  background-color: var(--bg-light-green);
}

/* ===search box===== */
.search_box {
  width: 90%;
}

.container {
  width: 95%;
}

.input_con {
  border-color: rgba(0, 0, 0, 0.1);
  height: 40px;
}

.custom_color {
  background-color: rgba(207, 226, 255, 0.30);
  ;
}