/* custom fonts */
@font-face {
  font-family: averta;
  src: url(./fonts/AvertaCY-Regular.ttf);
}

/* variables */
:root {
  --header-color: #0e0e6e;
  --bg-light-blue: #cfe2ff;
  --bg-light-green: #1ce8c7;
}

/* custom classes */
.payment-modal * {
  font-family: averta;
}
.payment-modal .modal-content {
  height: clamp(500px, 90vh, 640px);
  max-width: 640px;
  margin-inline: auto;
}

.payment-method-header-color {
  color: var(--header-color);
}
.payment-method-modal-container {
  width: 95%;
  margin: 0 auto;
}
.payment-method-secondary-color {
  background: #1ce8c7;
}
.btn-secondary-color {
  background-color: var(--bg-light-green);
}
.text-custom-gray {
  color: rgba(0, 0, 0, 0.5);
}
.card-description-text {
  font-size: 12px;
}
.card-title-text {
  font-size: 16px;
}
.payment-method-modal-custom-radio-input:checked {
  background-color: #309e3a;
  border-color: #309e3a;
}
/* ===search box===== */
.search_box {
  width: 90%;
}

.container {
  width: 95%;
}

.input_con {
  border-color: rgba(0, 0, 0, 0.1);
  height: 40px;
}
.payment-method-modal-alerts {
  margin-top: 15px;
  background: rgba(207, 226, 255, 0.3);
  border: 1px solid #cfe2ff;
}
.custom_color {
  background-color: rgba(207, 226, 255, 0.3);
}

/* ======================================== */
/* ========for small device=============== */
/* ======================================== */
@media screen and (max-width: 580px) {
  .payment-modal .modal-content {
    height: 100vh;
  }
}
