/* ======================================== */
/* ========payment modal custom css======== */
/* ======================================== */
/* custom fonts */
@font-face {
  font-family: averta;
  src: url(./fonts/AvertaCY-Regular.ttf);
}

/* variables */
:root {
  --royal-blue: #0e0e6e;
  --dark-gray: #00000080;
  --medium-gray: #cac5c5;
  --light-green: #1ce8c7;
  --light-gray: #f2f2f2;
  --light-navy: #0d6efd4d;
  /* height--------------------- */
  --modal-height: clamp(500px, 80vh, 640px);
  --modal-min-height: 250px;
  --modal-max-height: min(640px, 80vh);
  /* scrollbar--------------------- */
  --scrollbar-width: 5px;
}

/* ======================================== */
/* ========custom classes================== */
/* ======================================== */
/* ------payment modal main classes -------*/
.payment-modal * {
  font-family: averta;
}

.payment-modal .modal-content {
  min-height: var(--modal-min-height);
  max-height: var(--modal-max-height);
  height: fit-content;
  /* height: var(--modal-height); */
  max-width: 640px;
  margin-inline: auto;
}

/*------repeatedly used classes-----*/
.payment-modal-title-color {
  color: var(--royal-blue);
}
.payment-modal-bg-light-green {
  background: var(--light-green);
}
.payment-modal-text-dark-gray {
  color: var(--dark-gray);
}
.payment-modal-font-xs {
  font-size: 12px;
}
.payment-modal input[type="radio"]:checked {
  background-color: #309e3a;
  border-color: #309e3a;
}
/* ===================================================== */
/*=================== pages designed custom css========= */
/* ===================================================== */
/* -----payment modal - country selection / section-1 ------*/
.country-search-box {
  width: 90%;
}

.country-search-icon {
  border-color: rgba(0, 0, 0, 0.1);
  height: 40px;
}

.payment-modal-countries-container {
  height: calc(var(--modal-max-height) - 160px);
}

.payment-modal-country:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* ------payment modal - select payment method / section-2 ----- */
.payment-amount-input {
  border-color: var(--light-navy) !important;
}
.payment-amount-input:focus {
  outline: none;
}
.currencies-dropdown-element {
  min-width: clamp(100px, 100%, 150px) !important;
  height: 30vh;
  overflow: auto;
}

hr {
  width: 93%;
  margin-inline: auto;
  border-top: var(--medium-gray) 1px solid;
}
.payment-method-cards-container {
  padding: 24px;
  min-height: 200px;
  max-height: calc(var(--modal-max-height) - 200px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.payment-method-cards-container > label {
  flex-basis: 49%;
  margin-bottom: 2%;
  height: fit-content;
  border: var(--light-gray) 1px solid;
}
.payment-method-cards-container > label img {
  width: clamp(40px, 5vw, 50px);
}
.selected-payment-method {
  box-shadow: 0px 4px 30px 0px #00000017;
}
/* ------payment modal - view top up order / section-3 ----- */

/* ------payment modal - confirm amount / section-4 ----- */
.amount-tooltip {
  width: 30%;
  right: -35%;
  top: 90px;
  border-top: 9px solid orange;
}
.amount-tooltip::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  rotate: 45deg;
  z-index: -1;
}

/* ======================================== */
/* ========tab / medium device============= */
/* ======================================== */
@media screen and (max-width: 991px) {
  /* modal p-3 */
  .small-device-border-remove {
    border: 0;
  }
}
@media screen and (max-width: 850px) {
  /* confirmation section  */
  .amount-tooltip {
    top: unset;
    left: 4%;
    width: 91%;
    bottom: 0%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid orange;
    font-size: small;
  }
  .amount-tooltip::after {
    display: none;
  }
  .payment-method-cards-container > label {
    flex-basis: 100%;
  }
  /* modal-4 scroll padding*/
  .xtra-padding-at-bottom {
    padding-bottom: 60px;
  }
}
/* ======================================== */
/* ========small device=============== */
/* ======================================== */
@media screen and (max-width: 575px) {
  .payment-modal .modal-content {
    min-height: 100vh;
  }

  .payment-modal-countries-container {
    height: calc(100vh - 170px);
  }

  .payment-method-cards-container {
    min-height: calc(100vh - 175px);
  }
}
/* ======================================== */
/* ==========scrollbar customization======= */
/* ======================================== */

.payment-modal ::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.payment-modal ::-webkit-scrollbar-track {
  background: var(--light-gray);
}

.payment-modal ::-webkit-scrollbar-thumb {
  background: var(--medium-gray);
  border-radius: 10px;
}

/* ======================================== */
/* ==========number type arrow remove======= */
/* ======================================== */
.payment-modal input[type="number"]::-webkit-inner-spin-button,
.payment-modal input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
/* ======================================== */
/* ==========input type text focus off======= */
/* ======================================== */
/* .payment-modal input[type="text"]:focus, */
.payment-modal input[type="text"]:focus {
  border: 0;
  outline: 0;
}
