<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Majestic payment methods</title>

    <!-- bootstrap style cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="../custom.css" />
  </head>
  <body>
    <!-- ========================main section===================== -->
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#paymentModal"
      >
        Go to the payment option
      </button>

      <!-- Modal -->
      <div
        class="modal fade payment-modal"
        id="paymentModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="paymentModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-lg"
        >
          <div class="modal-content overflow-hidden">
            <!-- modal header section -->
            <div class="d-flex justify-content-between border-bottom pt-2 px-3">
              <h1
                class="fs-5 fw-bold payment-modal-title-color"
                id="paymentMethodsModalLabel"
              >
                Cashier
              </h1>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <!-- amount input & currency select dropdown  -->
            <section
              class="d-flex px-4 justify-content-center align-items-center border-bottom"
            >
              <input
                type="number"
                id="payment-amount-input"
                pattern="[0-9]"
                class="fs-1 ps-3 my-3 border-0 w-75 fw-medium border-start border-2 payment-amount-input"
                placeholder="$0.00"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <!-- currency select dropdown -->
              <div class="dropdown w-25">
                <button
                  class="btn w-100 btn-md d-flex align-items-center justify-content-between w-100 border border-1"
                  data-bs-toggle="dropdown"
                >
                  <span
                    id="show-selected-currency"
                    class="d-flex align-items-center gap-2"
                  ></span>
                  <img src="../asset/icons/down-arrow.svg" alt="down-arrow" />
                </button>
                <ul
                  id="currencies-container"
                  class="dropdown-menu currencies-dropdown-element"
                >
                  <!-- currencies appended through DOM manupulation -->
                </ul>
              </div>
            </section>

            <!-- payment method cards -->

            <div class="p-2">
              <div
                class="overflow-y-scroll overflow-x-hidden payment-methods-container"
                id="payment-methods-container"
              >
                <!-- payment methods appended through DOM manupulation -->
              </div>
              <!-- next button -->
              <button
                class="btn btn-light border border-primary text-primary w-100 bg-white mt-2"
                type="button"
              >
                Step Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- custom js -->
    <script type="module" src="../script.js"></script>
    <!-- <script type="module" src="../script-paused.js"></script> -->

    <!-- bootstrap cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
