<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Majestic payment methods</title>

    <!-- bootstrap style cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="../custom.css" />
  </head>
  <body>
    <!-- ========================main section===================== -->
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary align-self-center"
        data-bs-toggle="modal"
        data-bs-target="#paymentMethodsModal"
      >
        Open payment methods
      </button>

      <!-- Modal -->
      <div
        class="modal payment-modal"
        id="paymentMethodsModal"
        tabindex="-1"
        aria-labelledby="paymentMethodsModalLabel"
        aria-hidden="true"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
      >
        <div
          class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down"
        >
          <div class="modal-content">
            <!-- modal header section -->
            <div class="d-flex justify-content-between border-bottom pt-2 px-3">
              <h1
                class="fs-5 fw-bold payment-method-header-color"
                id="paymentMethodsModalLabel"
              >
                Cashier
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /===========================================scripts -->

    <!-- Include jQuery from the CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js -->
    <script>
      $(document).ready(function () {
        $("#paymentMethodsModal").modal({
          backdrop: "static",
          keyboard: false,
        });
      });
    </script>

    <!-- bootstrap cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
